li {
  display: inline-block;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: cornflowerblue;
}

li a {
  font-size: 1.2em;
  display: block;
  color: white;
  text-align: center;
  padding: 30px 50px;
  text-decoration: none;
}

li a:hover {
  background-color: royalblue ;
  color: white;
}
.icon{
  font-size: 1.5em;
  padding: 0 50px;
  font-weight: bold;
  color: darkslateblue ;
}
